<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>配列カスタム</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div id="app" class="container">
    <h1>配列カスタム</h1>
    <ul v-if="todos.length">
      <li v-for="(todo,index) in todos">
        {{ index+1 }}.{{ todo.title }}
      </li>
    </ul>
    <ul v-else> 
      <li >Nothing to do!</li>
    </ul>
    <form @submit.prevent="addItem"> 
      <input type="text" v-model="newItem">
      <input type="submit" value="add">
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="js/main.js"></script>
</body>
</html>